<h1>Survey</h1>

<h2>
  <strong>Name:</strong>
  <%=h @survey.title %>
</h2>

<p><%= @survey.description %></p>

<%= render 'survey_show_form', survey: @survey %>

<p>
  <%= link_to "View All Surveys", surveys_path %>
</p>
